[submodule "ftcandroidlibrary"]
	path = ftcandroidlibrary
	url = http://github.com/lasarobotics/ftcandroidlibrary

[submodule "FTCVision"]
	path = FTCVision
	url = https://github.com/lasarobotics/FTCVision.git
	branch = dev
